<?xml version="1.0" encoding="utf-8"?>
<STATION_CONFIG>
   <PLATFORM>
      <TESTER_ID>Default_PC_NAME</TESTER_ID>
      <TESTER_TYPE>Default_TYPE</TESTER_TYPE>
      <STS_PATH>D:\sharpts</STS_PATH>
      <STS_PLUGIN_PATH>D:\sharpts\Plugin</STS_PLUGIN_PATH>
      <STEP_ASSEMBLIES>
         <!-- Name of the assembly to be loaded. -->
         <ASSEMBLY_NAME>sharpTS.BasicSteps.dll</ASSEMBLY_NAME>
         <!-- Name of the assembly to be loaded. -->
         <ASSEMBLY_NAME>sharpTs.Tests.dll</ASSEMBLY_NAME>
      </STEP_ASSEMBLIES>
   </PLATFORM>
</STATION_CONFIG> 
