<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xwx.TDP.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<runtime>
		<!--xmlns是必需的特性。指定程序集绑定所需的 XML 命名空间。 使用字符串“urn: 架构-microsoft-com:asm.v1”作为值。-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<!--指定运行时是否使用发布者策略-->
			<!--指定加载程序集时公共语言运行时搜索的子目录, 其中privatePath是相对于*.exe.config文件的相对路径，多个文件夹以分号分隔。-->
			<probing privatePath="Applications;Applications/common;Applications/Core"/>
		</assemblyBinding>
	</runtime>
    <userSettings>
        <xwx.TDP.Editor.Properties.Settings>
            <setting name="Internal_ApplicationFolder" serializeAs="String">
                <value>applications</value>
            </setting>
            <setting name="Engine_Libraries_DisabledLibrariesAbstractPath"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="CaseLibrary_TreeView_LastBrowsedFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CaseLibrary_ApplicationButton_IsShowText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_DefaultFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="TDP_SequenceLibrary_InfoWindowHeigh" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="TDP_SequenceEditor_InfoWindowHeigh" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TDP_Engine_Libraries_DisabledLibrariesAbstractPath"
                serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="TDP_CaseLibrary_InfoWindowHeigh" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TDP_Engine_DisabledLogViewTypeFullName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="TDP_UI_Language" serializeAs="String">
                <value />
            </setting>
            <setting name="TDP_UI_LogView_MainLogViewEngineLogLogView_AutoSctroll"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_UI_DefaultFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="TDP_TestResultFolder" serializeAs="String">
                <value>C:\AutoTest\Results</value>
            </setting>
            <setting name="TDP_SequenceExecutor_HeaderWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="TDP_MainLogView_GraphFormSize" serializeAs="String">
                <value>360, 360</value>
            </setting>
            <setting name="TDP_MainLogView_SequenceInfoAreaHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TDP_MainLogView_SequenceInfoDisplayStyle" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="TDP_MainLogView_SequenceInfoTextFont" serializeAs="String">
                <value>Tahoma, 14.25pt, style=Bold</value>
            </setting>
            <setting name="TDP_MainLogView_ShowSequenceInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_MainLogView_TableFormSize" serializeAs="String">
                <value>580, 280</value>
            </setting>
            <setting name="TDP_MainLogView_TreeFormSize" serializeAs="String">
                <value>320, 600</value>
            </setting>
            <setting name="TDP_RawDataLogView_ReportFileNamePattern" serializeAs="String">
                <value>%d %t %s %e %p</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogEngineStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo_Error" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo_Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo_Normal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo_Notify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogInfo_Warning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogResult" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogResult_Normal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogResult_Temp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_LogUserDefinedData_General"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_Engine_MainLogView_PromptForFailResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TDP_EngineLogLogView_TitleWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TDP_EngineStatusLogView_InfoWindowHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="TDP_EngineStatusLogView_PassFailHistoryTitleWidth"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TDP_EngineStatusLogView_PassFailHistoryWindowHeight"
                serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="TDP_SequenceExecutor_LastExecutedSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="TDP_Engine_DeleteRawReportFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDP_MainLogView_ListViewResultAreaHeight" serializeAs="String">
                <value>550</value>
            </setting>
        </xwx.TDP.Editor.Properties.Settings>
    </userSettings>
</configuration>